<div style="border:1px solid red" [style.width]="width+'px'" [style.height]="height+'px'">

  <ngx-signaturepad #signaturePad [options]="options" [width]="width" [height]="height"></ngx-signaturepad>

</div>

<input type="button" value="Clear" (click)="clear()" />

<input type="button" value="Check Empty" (click)="isEmpty()" />

<input type="button" value="Set signature from string" (click)="setSigString()" />

<input type="button" value="Set signature from array" (click)="setSigArray()" />

<input type="button" value="Save png" (click)="savePng()" />

<input type="button" value="Save jpg" (click)="saveJpg()" />

<input type="button" value="Save svg" (click)="saveSvg()" />

<input type="button" value="Save array" (click)="saveArray()" />

<input type="button" value="Change draw style" (click)="changeOptions()" />